version: 2
ethernets:
%{ for iface in interfaces ~}
  eth_${iface.vlan_key}:
    match:
      macaddress: '${iface.mac}'
    set-name: eth_${iface.vlan_key}
    dhcp4: false
    addresses:
      - ${iface.ip}/${iface.prefix}
%{ if iface.is_primary ~}
    gateway4: ${iface.gateway}
    nameservers:
      addresses:
%{ for dns in dns_servers ~}
        - ${dns}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
