version: 2
ethernets:
  eth0:
    match:
      macaddress: '${macaddress}'
    set-name: eth0
    dhcp4: false
    addresses:
      - ${address}/${prefix}
    gateway4: ${gateway}
    nameservers:
      addresses:
%{ for dns in dns_servers ~}
        - ${dns}
%{ endfor ~}
